@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  ::ng-deep html,
  ::ng-deep body {
    height: 100%;
    overflow: hidden;
  }

  ::ng-deep html {
    font-size: 1vw;
  }

  ::ng-deep body {
    padding: 0;
    margin: 0;
    cursor: grab;
    user-select: none;

    &:active {
      cursor: grabbing;
    }
  }
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  > div {
    position: relative;
  }
}

::ng-deep canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

figure {
  position: absolute;
  inset: 0.5rem;
  padding: 0;
  margin: 0;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}